<div class="well">
  <style>
    .teamMember {
      line-height: 32px;
      color: #555;
    }
    
    .teamMember img {
      border-radius: 6px;
      border: #eee 1px solid;
      margin-right: 6px;
    }
    
    .teamMember:hover{
      text-decoration: none;
    }
  </style>
  <h2>Team</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <a class="teamMember" href="https://plus.google.com/+DiegoEzequielP%C3%A9rez/about"><img src="/images/eazel7.png" /><strong>Diego Pérez</strong> <small>@eazel7</small></a>
      <span class="pull-right">
        <a href="mailto:eazel7@gmail.com" class="btn btn-link btn-lg">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
      </span>
    </li>
  </ul>
</div>
