<div class="form-group">
  <label class="control-label">Status:</label>
  <a ng-click="info.status = !info.status; $emit('changes')" href="javascript:" ng-class="{true: 'btn btn-success active btn-block', false: 'btn btn-danger btn-block', undefined: 'btn btn-danger btn-block'}[info.status]" ng-model="info.active">{{ info.status && 'Active' || 'Inactive'}}</a>
</a>
</div>
<div class="form-group">
  <label class="control-label">Description:</label>
  <textarea ng-change="$emit('changes')" class="form-control" style="resize: none" ng-model="info.description" rows="4"></textarea>
</div>
<div class="btn-group btn-group-justified">
  <a ng-click="save()" class="btn btn-default" ng-disabled="!changes"><span class="glyphicon glyphicon-ok"></span>&nbsp;Save</a>
</div>
