<ul class="list-group">
  <a href="javascript:" class="list-group-item active" ng-repeat="package in packages|filter:isActive|orderBy:packagePriority track by package.name" ng-click="switchPackage(package)">
    <strong>{{package.name}}</strong>
    <span class="pull-right btn-group">
      <strong ng-if="package.info.version" style="margin-right: 10px">v {{package.info.version}}</strong>
      <span>
        <button ng-disabled="packagePriority(package) === 0" ng-click="$event.stopPropagation(); priorityUp(package)" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-chevron-up"></i></button>
        <button class="btn btn-default btn-xs" disabled>{{1 + packagePriority(package)}}</button>
        <button ng-disabled="$last" ng-click="$event.stopPropagation(); priorityDown(package)" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-chevron-down"></i></button>
      </span>
    </span>
  </a>
  <a href="javascript:" class="list-group-item" ng-repeat="package in packages|filter:isNotActive|orderBy:isDependency:true|orderBy:String" ng-click="switchPackage(package)">
    <span class="pull-right btn-group">
      <strong ng-if="package.info.version" style="margin-right: 10px">v {{package.info.version}}</strong>
      <span ng-if="isDependency(package)"><i class="glyphicon glyphicon-ok"></i></span>
    </span>
    <strong>{{package.name}}</strong>
    <div ng-if="package.info.description">{{package.info.description}}</div>
  </a>
</ul>
