<div class="panel panel-default">
  <table class="table">
    <thead><tr><th>Group</th><th>Permissions</th></tr></thead>
    <tbody>
      <tr class="bg-primary"><th class="bg-primary">Owners</th><td class="bg-primary">Same as administrators, but can delete the box as well</td></tr>
      <tr class="bg-success"><th>Administrators</th><td>Same as developers, plus they can activate and deactivate the box, and modify the permissions, except those of whom are box owners</td></tr>
      <tr class="bg-info"><th>Developers</th><td>Can modify, create and remove views and workflows</td></tr>
      <tr><th>Users</th><td>View, insert, update and remove data from synced collections, except <em>views</em> and <em>workflows</em></td></tr>
      <tr ng-repeat="pg in groups"><th>{{pg.name}}</th></tr>
    </tbody>
  </table>
</div>
<!--<div class="panel panel-default">-->
<!--  <div class="panel-heading">Owners</div>-->
<!--  <div class="panel-body">-->
<!--    -->
<!--  </div>-->
<!--</div>-->
<!--<div class="panel panel-default">-->
<!--  <div class="panel-heading">Administrators</div>-->
<!--  <div class="panel-body">-->
<!--    -->
<!--  </div>-->
<!--</div>-->
<!--<div class="panel panel-default">-->
<!--  <div class="panel-heading">Developes</div>-->
<!--  <div class="panel-body">-->
<!--    -->
<!--  </div>-->
<!--</div>-->
<!--<div class="panel panel-default">-->
<!--  <div class="panel-heading">Users</div>-->
<!--  <div class="panel-body">-->
<!--    -->
<!--  </div>-->
<!--</div>-->
<div class="form-group">
  <span class="input-group">
    <input placholder="Add a new permission group" type="text" class="form-control" />
    <span class="input-group-btn">
      <a class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
    </span>
  </span>
</div>
