<div class="container" style="margin-top: 1em">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>From:</label>
        <select class="form-control" ng-model="from" ng-options="b as b for b in boxes">
          <option value="" ng-show="!from">Select source box</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Target:</label>
        <select class="form-control" ng-model="target" ng-options="b as b for b in boxes">
          <option value="" ng-show="!target">Select target box</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <a ng-controller="DataTransferCollection" href="javascript:" ng-class="{'active': isCollectionSelected(c)}" ng-click="toggleCollectionSelected(c)" class="list-group-item" ng-if="c[0] !== '_'" ng-repeat="c in sourceCollections">{{c}}<span class="badge pull-right">{{sourceCount}} vs {{targetCount}}</span></a>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <a href="javascript:" ng-class="{'active': isViewSelected(v)}" ng-click="toggleViewSelected(v)" class="list-group-item" ng-repeat="v in sourceViews">{{v.name}}</a>
      </ul>
    </div>
  </div>
  <p class="text-center">
    <button ng-disabled="!canTransfer || busy" ng-click="transfer()" class="btn btn-lg btn-primary" type="button">Transfer data</button>
  </p>
</div>
