<h4>
  <a ng-href="{{boxUrl(box)}}"><span class="glyphicon glyphicon-link"></span> {{boxName}}</a>
</h4>
<page-title title="Manage {{boxName}}"></page-title>

<tabset justified="true" type="pills">
  <tab heading="General">
    <div class="well" ng-include src="'/views/partials/boxInfo.html'"></div>
  </tab>
  <tab heading="Data" ng-controller="BoxCollectionsCtrl">
    <div class="well" ng-include src="'/views/partials/boxCollections.html'"></div>
  </tab>
  <tab heading="Permission groups">
    <div class="well" ng-include src="'/views/partials/boxPermissions.html'"></div>
  </tab>
  <tab heading="Users" ng-controller="BoxUsersCtrl">
    <div class="well" ng-include src="'/views/partials/boxUsers.html'"></div>
  </tab>
  <tab heading="Packages" ng-controller="BoxPackagesCtrl">
    <div class="well" ng-include src="'/views/partials/boxPackages.html'"></div>
  </tab>
  <tab heading="Remote DBs">
    <div class="well" ng-include src="'/views/partials/boxRemoteDbs.html'"></div>
  </tab>
  <tab heading="Usage">
    <div class="well" ng-controller="BoxUsageCtrl" ng-include src="'/views/partials/boxUsage.html'"></div>
  </tab>
  <tab heading="Migration">
    <div class="well" ng-include src="'/views/partials/boxMigration.html'"></div>
  </tab>
</tabset>
