<style>

.nav.nav-pills li {
  cursor: pointer;
}
</style>

<page-title title="Manage {{box.name}}"></page-title>

<tabset justified="true" type="pills">
  <tab heading="General">
    <div class="well" ng-include src="'/views/partials/boxInfo.html'"></div>
  </tab>
  <tab heading="Data" ng-controller="BoxCollectionsCtrl">
    <div class="well" ng-include src="'/views/partials/boxCollections.html'"></div>
  </tab>
  <tab heading="Users" ng-controller="BoxUsersCtrl">
    <div class="well" ng-include src="'/views/partials/boxUsers.html'"></div>
  </tab>
  <tab heading="Packages" ng-controller="BoxPackagesCtrl">
    <div class="well" ng-include src="'/views/partials/boxPackages.html'"></div>
  </tab>
  <tab heading="Remote DBs">
    <div class="well" ng-include src="'/views/partials/boxRemoteDbs.html'"></div>
  </tab>
</tabset>
