<div class="scrollable" ng-controller="AdminCtrl" hide-elements="#navbarBottom">
  <page-title title="Administration"></page-title>
  <span content-for="navbarTitle">{{pageTitle}}</span>
  <local-find to="views" collection="'_views'"></local-find>
  
  <div class="scrollable-content">
    <div class="container-fluid section">
      <div calss="row">
        <a class="btn btn-primary btn-block" ng-click="$notify.create('This is a test notification')" ng-if="$notify.isSupported() && $notify.permissionLevel() == 'granted'">Test notifications</a>
      </div>
      <div class="row">
        <div class="col-md-6">
          <switch
            bs-form-control
            ng-model="config.programmerMode"
            label="Programmer mode"
            label-class="col-xs-8 col-sm-9 col-lg-9" 
            class="col-xs-1 col-sm-1 col-lg-1"></switch>
        </div>
        <div class="col-md-6">
          <switch
            bs-form-control
            ng-model="config.synchronization"
            label="Synchronization"
            label-class="col-xs-8 col-sm-9 col-lg-9" 
            class="col-xs-1 col-sm-1 col-lg-1"></switch>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center">Views</h3>
          <table class="table">
            <thead>
              <th class="col-md-3">View ID</th>
              <th class="col-md-9">View name</th>
              <th></th>
            </thead>
            <tbody>
              <tr ng-repeat="v in views">
                <th class="col-md-3">{{v.name}}</th>
                <th class="col-md-9">
                  <local-update
                  collection="'views'"
                  then="v.changes = false"
                  name="saveViewChanges"
                  predicate="{_name: v.name}" replacement="{
                    $set: {
                      title: v.title
                    }
                  }"></local-update>
                    <span class="input-group">
                      <input 
                        type="text"
                        class="form-control"
                        ng-model="v.title" />
                      <span class="input-group-btn">
                        <local-remove collection="'_views'" predicate="{name: v.name}" name="destroyView"></local-remove>
                        <a ng-click="destroyView()" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                        <a ng-click="saveViewChanges()" class="btn btn-primary"><i class="fa fa-save"></i></a>
                      </span>
                    </span>
                </th>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="col-md-3">
                  <input class="form-control" type="text" ng-model="newView.name" />
                </td>
                <td class="col-md-9">
                  <local-insert name="insertView" collection="'_views'" what="newView" then="views.push($new) && (newView = {})"></local-insert>
                  <span class="input-group">
                    <input type="text" class="form-control" ng-model="newView.title" />
                    <span class="input-group-btn">
                      <a ng-click="insertView()" class="btn btn-primary"><i class="fa fa-save"></i></a>
                    </span>
                  </span>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="col-md-6">
          <h3 class="text-center">Sidebar links</h3>
          <local-find refresh-with="refreshSidebarLinks" collection="'sidebarLinks'" once="true" to="sidebarLinks"></local-find>
          <table class="table">
            <thead>
              <th class="col-md-3">View ID</th>
              <th class="col-md-9">Title</th>
              <th></th>
            </thead>
            <tbody>
              <tr ng-repeat="sl in sidebarLinks">
                <th class="col-md-3">{{sl.viewName}}</th>
                <th class="col-md-9">
                  <local-update
                  collection="'sidebarLinks'"
                  then="sl.changes = false"
                  name="saveSidebarLinkChanges"
                  predicate="{_id: sl._id}" replacement="{
                    $set: {
                      title: sl.title
                    }
                  }"></local-update>
                    <span class="input-group">
                      <input 
                        ng-change="saveSidebarLinkChanges()"
                        type="text"
                        class="form-control"
                        ng-model="sl.title" />
                      <span class="input-group-btn">
                        <local-remove collection="'sidebarLinks'" predicate="{_id: sl._id}" name="destroySidebarLink"></local-remove>
                        <a ng-click="destroySidebarLink()" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                      </span>
                    </span>
                </th>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="col-md-3">
                  <input class="form-control" ng-model="newSidebarLink.viewName" />
                </td>
                <td class="col-md-9">
                  <local-insert name="insertSidebarLink" collection="'sidebarLinks'" what="newSidebarLink" then="sidebarLink.push($new) && (newSidebarLink = {}) && refreshSidebarLinks()"></local-insert>
                  <span class="input-group">
                    <input type="text" class="form-control" ng-model="newSidebarLink.title" />
                    <span class="input-group-btn">
                      <a ng-disabled="!newSidebarLink.viewName || !newSidebarLink.title" ng-click="insertSidebarLink()" class="btn btn-primary"><i class="fa fa-save"></i></a>
                    </span>
                  </span>
                </td>
              </tr>
            </tfoot>
          </table>
<!--          <watch-sort source="sidebarLinks" name="resortSidebar" each="$value._id" then="newSort = $result"></watch-resort>-->
<!--          <scope-watch ng-if="sidebarLinks" what="resortSidebar()" then="newSidebarSort = $newVal"></scope-watch>-->
    

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4 class="text-center">Collections</h4>
          <div class="text-center">
            <a class="btn btn-default" ng-click="reset()">Reset</a>
          </div>
          <p ng-if="!collections.length" class="text-center">No collections</p>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="c in collections">{{c.name}}</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4 class="text-center">Snapshots</h4>
          <div class="text-center">
            <a class="btn btn-default" ng-click="createSnapshot()">Snapshot</a>
          </div>
          <p ng-if="!collections.length" class="text-center">No snapshots</p>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="s in snapshots">
            <span class="btn-group pull-right">
              <a ng-click="deleteSnapshot(s)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
              <a ng-click="restoreSnapshot(s)" class="btn btn-default btn-xs"><i class="fa fa-fast-backward"></i></a>
            </span>
            {{s.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
