<div class="section scrollable">
  <p class="text-center"><em>{{editingComponent.data.name}}</em></p>
  <p ng-if="componentGallery[editingComponent.data.kind].helpText" style="margin: 10px">
    <em>{{componentGallery[editingComponent.data.kind].helpText}}</em>
  </p>
  <div class="list-group">
    <div class="list-group-item">
      <label>Rename this node:</label>
      <input type="text" class="form-control" placeholder="Leave default name" ng-model="editingComponent.data.label" />
    </div>
    <div class="list-group-item" ng-repeat="ic in editingComponent.inputConnectors" ng-if="ic.data.configTemplate" ng-html-compile="ic.data.configTemplate">
    </div>
  </div>
</div>
