<span class="btn-group">
  <a ng-hide="runningWorkflowId" ng-click="startWorkflow($event)" class="btn btn-default"><i class="fa fa-play"></i></a>

  <a ng-show="runningWorkflowId" ng-click="stopWorkflow($event)" class="btn btn-default"><i class="fa fa-stop"></i></a>
      
  <a ng-click="addNode($event)" ng-class="{'active': sidebarFor == 'addNode'}" class="btn btn-default"><i class="fa fa-plus"></i></a>

  <a ng-disabled="!runningWorkflowId && !outputVisible" ng-click="toggleOutput(!outputVisible, $event)" ng-class="{'active': outputVisible}" class="btn btn-default"><i class="fa fa-terminal"></i></a>

  <a ng-click="showHistory($event)" ng-class="{'active': sidebarFor == 'graph-history'}" class="btn btn-default"><i class="fa fa-history"></i></a>

  <a ng-click="disableNode($event)" ng-show="chartViewModel.getSelectedNodes().length == 1 && isSelectedNodeEnabled()" class="btn btn-default"><i class="fa fa-unlink"></i></a>

  <a ng-click="enableNode($event)" ng-show="chartViewModel.getSelectedNodes().length == 1 && isSelectedNodeDisabled()" class="btn btn-default"><i class="fa fa-link"></i></a>

  <a ng-click="deleteSelected($event)" class="btn btn-default" ng-disabled="chartViewModel.getSelectedNodes().length == 0 && chartViewModel.getSelectedConnections().length == 0"><i class="fa fa-trash-o"></i></a>

  <a ng-click="editComponent($event)" ng-class="{'active': sidebarFor == 'editComponent'}" ng-disabled="chartViewModel.getSelectedNodes().length != 1" class="btn btn-default"><i class="fa fa-edit"></i></a>

  <a ng-click="configure($event)"  ng-class="{'active': sidebarFor == 'configure'}" class="btn btn-default"><i class="fa fa-sliders"></i></a>

  <a ng-click="save($event)" class="btn btn-default"><i class="fa fa-save"></i></a>
</span>
