<div class="scrollable">
  <div class="scrollable-content">
    <div class="section" style="padding-left: 1em; padding-right: 1em">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" ng-model="graph.name" class="form-control" />
      </div>
      <div class="form-group">
        <label>Permanent:</label>
        <switch  ng-model="graph.permanent"></switch>
      </div>
      <div class="form-group">
        <label>Sheet size:</label>
        <select class="form-control" ng-model="chartViewModel.data.sheetSize">
          <option value="A4">A4 vertical</option>
          <option value="A4-portrait">A4 portrait</option>
          <option value="A3">A3 vertical</option>
          <option value="A3-portrait">A3 portrait</option>
        </select>
      </div>
      <div class="form-group">
        <label>Pages:</label>
        <div style="display: block">
          <input style="display: inline-block; width: 80px" class="form-control" type="number" ng-model="graph.pages.x" min="1" />&nbsp;<i class="fa fa-times"></i>&nbsp;
          <input style="display: inline-block; width: 80px" class="form-control" type="number" ng-model="graph.pages.y" min="1" />
        </div>
      </div>
    </div>
    <br class="section-break" />
    <div class="section" style="padding-left: 1em; padding-right: 1em">
      <div class="form-group">
        <label>Exports as component:</label>
        <switch ng-model="graph.component"></switch>
      </div>
      
      <table class="table table-striped" ng-if="graph.component" ng-controller="GraphParamsCtrl">
        <thead>
          <tr>
            <th>
              Name:
            </th>
            <th>
              Kind
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="p in graph.params">
            <td>
              <span class="input-group">
                <input type="text" class="form-control" ng-model="p.name"  style="max-width: 120px"/>
                <span class="input-group-btn" style="float: left">
                  <button class="btn btn-danger" ng-click="removeParam(p, $event)">
                    <i class="fa fa-times"></i>
                  </button>
                </span>
              </span>
            </td>
            <td>
              <select class="form-control" ng-model="p.type">
                <option value="string">String</option>
                <option value="number">Number</option>
                <option value="object">Object</option>
              </select>
            </td>
          </tr>
          <tr ng-repeat-end>
            <td colspan="2">
              <textarea class="form-control" style="resize: vertical" ng-model="p.description" rows="3"></textarea>
            </td>
          </tr>
          <tr ng-if="!graph.params.length">
            <td colspan="2" class="text-center">
              <em>No params</em>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-center" colspan="2">
              <a ng-click="addParam()" class="btn btn-large btn-primary" href="javascript:"><i class="fa fa-plus"></i>&nbsp;Add</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
