<div class="scrollable" ng-init="componentSection || (componentSection = 'core')">
  <span class="btn-group btn-group-justified">
    <a ng-class="{'active': componentSection == 'core'}" ng-click="componentSection = 'core'" class="btn btn-default" href="javascript:">Core</a>
    <a ng-class="{'active': componentSection == 'custom'}" ng-click="componentSection = 'custom'" class="btn btn-default" href="javascript:">Custom</a>
  </span>
  
  <div class="section scrollable-content">
    <div class="list-group" ng-if="componentSection == 'core'">
      <p style="margin: 10px" ng-repeat-start="component in componentGallery"><em>{{component.helpText}}</em></p>
      <a href="javascript:" class="list-group-item" ng-repeat-end ng-click="addComponent(component)">
        <i class="pull-right fa fa-{{component.icon}}"></i>&nbsp;{{component.displayName}}
      </a>
    </div>
    <div class="list-group" ng-if="componentSection == 'custom'" ng-controller="CustomComponentsCtrl">
<!--      <p style="margin: 10px" ng-repeat-start="component in "><em>{{component.helpText}}</em></p>-->
      <a href="javascript:" class="list-group-item" ng-repeat-end ng-click="addComponent(component)">
        <i class="pull-right fa fa-{{component.icon}}"></i>&nbsp;{{component.displayName}}
      </a>
    </div>
  </div>
</div>
