<style>
  .sidebar-toggle {
    display: inline-block !important;
  }

  .flowchart {
    position: absolute; bottom: 0; top: 0; padding: 0; margin: 0; right: 0; left: 0; overflow-x: scroll; overflow-y: scroll;
  }
  
  .with-terminal { 
    bottom: 201px !important;
  }
  .terminal > hr {
    margin: 0;
  }
  .terminal {
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 11px;
    color: #f0f0f0;
    overflow-y: scroll;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: black;
  }
</style>

<div class="scrollable" ng-controller="EditGraphCtrl">
  <local-find-one collection="'_graphs'" predicate="{_id: routeParams._id}" to="graph"></local-find-one>
  
  <page-title title="Edit graph"></page-title>
  <span content-for="navbarTitle"></span>
  
  <span content-for="navbarAction">
    <div ng-include src="'views/partials/edit-graph-navbar.html'"></div>
  </span>
  
  <span content-for="rightSidebar">
    <div ng-if="sidebarFor == 'configure'">
      <div ng-include src="'views/partials/edit-graph-configure.html'"></div>
    </div>

    <div ng-if="sidebarFor == 'editComponent'">
      <div ng-include src="'views/partials/edit-graph-component.html'"></div>
    </div>

    <div ng-if="sidebarFor == 'addNode'">
      <div ng-include src="'views/partials/edit-graph-add-node.html'"></div>
    </div>

    <div ng-if="sidebarFor == 'graph-history'" ng-controller="GraphPastRunsCtrl">
      <div ng-include src="'views/partials/graph-history-sidebar.html'"></div>
    </div>
  </span>
  
  <div
    class="flowchart" ng-class="{'with-terminal': showConsole}"
		mouse-capture
		ng-keydown="keyDown($event)"
		ng-keyup="keyUp($event)">
    <flow-chart
  		style="width: 100%; height: 100%;"
      	chart="chartViewModel"
      	>
    </flow-chart>
  </div>
  
  <div class="terminal" ng-show="outputVisible" scroll-glue ng-controller="WorkflowOutputCtrl">
   <span ng-repeat-start="o in output track by o.date">{{o.string}}</span><hr ng-if="!$last" ng-repeat-end />
  </div>
</div>
