<div class="scrollable">
  <div class="section scrollable-content">
    <h3>Past runs</h3>
    <div class="list-group">
      <a href="javascript:" class="list-group-item" ng-repeat="p in pastRuns" ng-click="viewPastRun(p)">
        <i class="pull-right fa" ng-class="{'fa-warning': p.err, 'fa-check': p.result, 'fa-play': !p.endDate, 'fa-stop': !p.err && !p.result && p.endDate}"></i>&nbsp;{{p.startDate|date:'dd/MM/yyyy hh:mm:ss'}} ({{p.startDate|timeDistance:r.endDate}})
      </a>
    </div>
  </div>
</div>
