<div ng-controller="GraphsCtrl" >
  <div class="scrollable" ng-class="{'with-terminal': showConsole}">
    <style>
      .with-terminal { 
        bottom: 201px !important;
      }
      
      .terminal > hr {
        margin: 0;
      }
      
      .terminal {
        font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
        font-size: 11px;
        color: #f0f0f0;
        overflow-y: scroll;
        height: 200px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background: black;
      }
    </style>

    <div class="scrollable-content">
      <page-title title="Graphs"></page-title>
      <span content-for="navbarTitle">{{pageTitle}}</span>
      <span content-for="navbarAction">
        <a ng-click="hideConsole()" ng-show="showConsole" class="btn btn-default active"><i class="fa fa-terminal"></i></a>
      </span>
      <local-find to="graphs" collection="'_graphs'"></local-find>
      <div class="section section-break">
        <table class="table table-striped">
          <tbody>
            <tr ng-if="!graphs.length">
              <td class="text-center" colspan="2"><em>No graphs</em></td>
            </tr>
            <tr ng-repeat="g in graphs">
              <th>{{g.name}}</th>
              <td >
                <span class="btn-group pull-right">
                  <a class="btn btn-default" ng-href="#/graphs/{{g._id}}/edit"><i class="fa fa-edit"></i></a>
                  <a class="btn btn-default" ng-click="copyGraph(g._id)" href="javascript:"><i class="fa fa-copy"></i></a>
                  <a class="btn btn-default" ng-click="deleteGraph(g._id)" href="javascript:"><i class="fa fa-trash-o"></i></a>
                  <a class="btn btn-default" ng-click="startWorkflow(g._id)"><i class="fa fa-play"></i></a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="section section-break">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Workflow kind</th>
              <th><span class="pull-right">Startup date</span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="!workflows.length">
              <td colspan="3" class="text-center">
                <em>No workflows running</em>
              </td>
            </tr>
            <tr ng-repeat="w in workflows track by w.id">
              <th>
                {{graphs[w.graphId].name}}
              </th>
              <td class="text-right">
                {{w.startupDate|date:'yyyy-MM-dd HH:mm:ss'}}
              </td>
              <td class="text-right">
                <span class="btn-group">
                  <a class="btn btn-default" ng-click="stopWorkflow(w.id)" href="javascript:"><i class="fa fa-stop"></i></a>
                  <a class="btn btn-default" ng-click="editRunningWorkflow(w.graphId, w.id)" href="javascript:"><i class="fa fa-edit"></i></a>
                  <a class="btn btn-default" ng-class="{'active': showingConsoleFor == w.id}" ng-click="viewConsole(w.id)" href="javascript:"><i class="fa fa-terminal"></i></a>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="text-center">
        <a class="btn btn-lg btn-default" ng-href="#/graphs/new">
          Create graph
        </a>
      </p>
    </div>
    <div class="terminal" ng-show="showConsole" scroll-glue>
      <span ng-repeat-start="o in output">{{o}}</span><hr ng-if="!$last" ng-repeat-end />
    </div>
  </div>
</div>
